/* Variables */
@import './scss/variables';

/* mobile / base */
@import './scss/_base';

/* small tablet to tablet */
@media screen and (min-width: 481px) {
  @import './scss/_481up';
}

/* tablet to small laptop */
@media screen and (min-width: 768px) {
  @import './scss/_768up';
}

/* small laptop to small monitor */
@media screen and (min-width:1030px) {
  @import './scss/_1030up';
}

/* average desktop and up */
@media screen and (min-width:1240px) {
  @import './scss/_1240up';
}
