/*************************
Variables
**************************/
$white: #fff;
$black: #000;
$gray: #878787;
$bg: #EBEBEB;
$font: 'Ubuntu', sans-serif;

/* Global section */
body, html {
  font-family: $font;
}
/* header section */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* todays / selected day's weather */

.weather-today {
  background-image: url('http://getwallpapers.com/wallpaper/full/0/4/a/424222.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Weather forcast */
.forcast-result {
  margin: 1em 0;
  padding-top: 1em;
  padding-bottom: 1em;

  h4 {
    margin: 0;
    color: $black;
    font-weight: bold;
  }
  p {
    margin: 0;
    display: inline-block;
  }
}
.forcast-current-day {
  display: none;
}

.weather-results {
  img {
    max-width: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

/* animation */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}