/* Global section */

body,
html {
    font-family: $font;
    height: 100vh;
    background-color: rgba(157, 95, 0, 0.3);
    border: 2px solid $orange;
}

/*****************
header section
******************/

.top-header {
    position: relative;
    text-align: center;
}

.fetch-weather-btn {
    text-align: center;
    button {
        background-color: $orange;
        border: 2px solid $brown;
        font-size: 1.2em;
        padding: 0.2em 1em;
        &:hover {
            background-color: transparent;
        }
    }
}

.today-container {
    box-shadow: 1px 10px 15px $black;
}

.weather-today {
    position: relative;
    background-image: url('http://getwallpapers.com/wallpaper/full/0/4/a/424222.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $gray;
    background-blend-mode: multiply;
    .top-header {
        background-color: rgba(5, 5, 5, 0.55);
        color: $white;
        padding: 1em 0;
        h1 {
            margin: 0;
            padding: 0.5em 0;
        }
    }
    &:after,
    &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 10px;
        content: '';
        background-color: $brown;
        margin: 0 auto;
    }
    &:before {
        background-color: $orange;
        bottom: 10px;
    }
}

.today-selected-container {
    color: $white;
    padding: 3em 0;
}

/*********************
Main content 
*********************/

/* Weather forcast */

.weather-data-container {
    padding-top: 0.5em;
}

.weather-results {
    a,
    a:hover {
        text-decoration: none;
        color: $black;
    }
    img {
        max-width: 100%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.forcast-result {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    h4 {
        margin: 0;
        text-transform: uppercase;
        color: $white;
        font-weight: bold;
        text-shadow: 1px 1px 1px $black;
    }
    .forcast-temp {
        margin: 0;
        display: inline-block;
    }
}

/* Weather today */

.today-container {
    padding-bottom: 2em;
}

.today-content {
    padding-top: 1em;
    padding-bottom: 1em;
    color: $white;
    .location-data {
        text-align: center;
    }
}

.weather-data {
    text-align: center;
    width: 100%;
    padding: 0 2%;
    display: inline-block;
}

.inner-today-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.weather-single-temp {
    font-size: 3.5em;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    sup {
        font-size: 20px;
        position: absolute;
        top: 28%;
        right: -19px;
    }
}

.weather-single-summary {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.weather-single-humidity,
.weather-single-wind {
    display: inline-block;
    width: 48%;
    padding: 0 2%;
    p:first-child {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 0.8em;
    }
}

.weather-single-humidity {
    position: relative;
    &:after {
        position: absolute;
        content: '';
        height: 60%;
        width: 1px;
        background-color: $white;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border-radius: 100px;
    }
}

.location-data {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0 2%;
    .weather-single-location {
        display: inline-block;
        position: relative;
        padding-bottom: 5px;
        font-size: 2em;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        &:after {
            position: absolute;
            width: 70%;
            background-color: $white;
            border-radius: 100px;
            height: 4px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            content: '';
        }
    }
}

.weather-single-day {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
}