/*************************
Variables
**************************/

$white: #fff;
$black: #222;
$gray: #a8a8a8;
$bg: #EBEBEB;
$brown: rgba(146, 62, 0, 0.5);
$orange: rgba(157, 95, 0, 0.5);
$font: 'Tajawal', sans-serif;